* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #2b2c358a;
}

main {
    display: flex;
    flex: flex;
    height: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #5c699e8a;
}